.right{
	float: right;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	position:absolute;
	right: 0;
}
.left {
	float: left;
	padding: 0;
	
	margin-right: 5px;
	
	margin-left: 10px;
	position: absolute;
	left: 0;
}

.middle{
	padding: 0;
	position: absolute;
	left: 16%;
}

.user-img{

}

.user-details p,.card-footer p{
	margin-bottom: 0;
}
.card-header .middle{
	padding: auto;

}
.card-header .middle p{
	margin-bottom: 0;
	white-space: nowrap;
}
.card-footer{
	height: 70px;
	font-size: 20px;
	text-align: center;
}
.card-header{
	padding-left: 5px;
	padding-right: 5px;
    height: 105px;
}

.card .row{
	margin: 0;
}
.card-header, .card-footer{
	/*border: none;*/

}

.header-border{	
width: 50%;
border-top:5px solid #498aab;	
position:absolute;
left: 25%;
bottom: -15px;

}

.gold{
background: rgb(254,249,168);
background: linear-gradient(112deg, rgba(254,249,168,1) 0%, rgba(247,198,121,1) 68%, rgba(247,198,121,1) 83%, rgba(254,249,168,1) 100%);
}

.silver{

border:1.75px solid black;
background: #d7dbdd;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #d7dbdd, #d7dbdd);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #d7dbdd, #d7dbdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lifetime{
	background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.signature{

	position: absolute;
    top: -3px;

    left: 175px;

}


.card-body{
	background-image: url('../image/bg5.png');
    background-repeat: no-repeat;    
	background-position: center;
    background-size: 100% 100%;
    align-content: center;
}
.gold .card-body,.silver .card-body{
	height: 200px;
}

.gold .card-body .user-details,.silver .card-body .user-details{
	font-size: 20px;
	
	font-family: Verdana, sans-serif;
	font-weight: bolder;
}
.gold .card-body .user-details span,.silver .card-body .user-details span{

	margin-left: 5px;

}

.user-details{

	/* background-image: url('bg4.jpeg');
	
    background-repeat: no-repeat;    
	/* background-position: center; */
    /* background-size: 100% 100%;  */
	font-family: Verdana, sans-serif;

}

/* .user-details td{
	padding:5px 0px;
} */



/*CSS FOR FORM*/